@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-accent: #000;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url('https://raw.githubusercontent.com/RandomMaerks/Overused-Grotesk/master/fonts/variable/OverusedGroteskRoman-VF.ttf');
    font-weight: 300, 400, 500, 600, 700, 800, 900;
    font-display: swap;
}

.font-grotesk {
    font-family: "Overused Grotesk", sans-serif;
}

button {
    cursor: pointer;
}